body {
  background:#fff;
  line-height:1.5em;
  color:#333;
}
.wrapper {
  max-width:600px;
  margin:0 auto;
}

.negative-1 {
  color:#eee;
  background-color:#253539;
  background-color:#0d1b24;
  background-color:#2a455c;
  border-bottom:5px solid #eee;
}
h1, h2 {
  margin:0;
  padding:30px;
}

h1 {
  padding-top:100px;
}

h2 {
  color:#a6a6a6;
}

ul {
  margin:0;
  padding:0;
}

ul li {
  list-style: none;
  background:#eee;
  padding:20px;
  margin:0 10px 10px 10px;
  border-radius:10px;
}

.quote {
  margin:20px;
  margin-bottom:0;

  border-left:0; /*1px solid #aaa;*/
}

td.images img {
  margin-left:20px;
}

td {
  vertical-align:top;
}

table {
  width:100%;
}
td.description {
  width:100%;
}

.images {
}
.clear {
  clear:both;
}

.images a,
.images a img {
  display:block;
}

.images a img {
  border-radius:10px;
  /*box-shadow:0 0 0 1px rgba(0,0,0,0.4);*/
  /*filter: grayscale(1);*/
  width:70px;
  height:70px;
  background-color:#eee;
}
.images a img:hover {
  /*filter: grayscale(0);*/
  /*
  box-shadow:0 0 0 1px rgba(0,0,0,0.75);
  */
}

hr {
  display:block;
  height:1px;
  border:0;
  border-top:1px solid #ccc;
}

#colorline {
  background-color:#eee;
  width:100%;
  height:5px;
  padding:0;
  margin:0;
  border-radius:20px;
}

/*
#colorline span {
  display:inline-block;
  width:10px;
  height:10px;
  background-color:#f00;
}
*/
