pre {
  background-color:#eee;
  padding:8px 6px;
  font-size:90%;
}
code {
  padding:2px 6px;
  display:inline-block;
}
body {
  padding:50px;
  max-width: 600px;
}
article {
  padding:3px 0;
}

hr {
  border:0;
  border-top:1px solid #666;
}
